@model Forum.Models.ViewModels.UpdatesViewModel
@{
    ViewData["Title"] = "Main Themes";
}

<button type="button" class="btn btn-success btn-block" onclick="location.href='/Forum/CreateUpdate'" style="margin-top:15px; margin-bottom:15px;  padding-left:20px">Create Topic</button>

@foreach (var item in @Model.UpdateList)
{
    <ul class="nav nav-pills nav-stacked" style="margin-top:15px">
        <li>
            <div class="container">
                <div class="jumbotron">
                    <h2>@item.Theme</h2>
                    <form method="get" action="~/Forum/Update">
                        <input type="hidden" name="Id" value="@item.ThemeId" />
                    </form>
                    <div class="btn-group">
                        <button type="button" class="btn btn-link" onclick="document.forms[@Model.UpdateList.IndexOf(item)].submit()">Read the theme</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
}
