@{
    ViewData["Title"] = "Home Page";
}
<br/>
<div class="container">
     <div class="jumbotron">
         <h1>Welcome to GfL Forum</h1>
         <p>
             This a test task from Roman Tymokhov
         </p>
         <div class="btn-group" style="text-align: center">
             <button type="button" class="btn btn-primary" onclick="location.href='/Account/Login'">Login</button>
             <button type="button" class="btn btn-primary" onclick="location.href='/Account/Register'">Register</button>
         </div>
     </div>
</div>
